@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--color-blue-300);
  --color-focus: var(--color-red-500);
}

:root {
  --background: var(--color-white);
  --foreground: var(--color-black);

  --primary: var(--color-primary);
  --focus: var(--color-focus);
}

.dark {
  --background: var(--color-black);
  --foreground: var(--color-white);

  --primary: var(--color-primary);
  --focus: var(--color-focus);
}
